<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List - Ryan Huffnagle</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
  <div id="start-page" class="show">
    <div class="inner-title">
      <h1 class="title">To Do List</h1>
      <h3 class="description"><em>Accomplish your goals today!</em></h3>
      <div class="btn">
        <button type="button" name="button">Get started!</button>
        <div class="shadow">
        </div>
      </div>
    </div>
  </div>
  <div id="list-page" class="hide">
    <div class="inner-title">
      <h1 class="title">Items on the agenda</h1>
      <h3 class="description"><em>“Simplicity boils down to two steps: Identify the essential. Eliminate the rest.” – Leo Babauta</em></h3>
      <ul>
        
      </ul>
      <form class="" action="/" method="post">
        <input type="text" name="todo" value="" placeholder="Enter your task here" autocomplete="off">
      </form>
    </div>


  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="../index.js"></script>
</body>

</html>
